<div [@changeDivSize]=currentState class="box" [ngClass]="elevation" (mouseover)="changeStyle($event)"
    (mouseout)="changeStyle($event)" [ngStyle] = "{'height': truncating ? '272px' : 'auto'}">
    
    <img src="../../../assets/RoundYellow.png" class="image" />
    <img src="../../../assets/{{image}}" class="image2" />
    <div>
        <p style="color: rgb(255,230,0); font-weight: bold; text-align: center" (click)="goToAssetDetails()"> <a style="color:rgb(255,230,0)">{{title}}</a></p>
        <!-- <p>{{Data}} </p> -->
        <div *ngIf="Data.length <= limit">{{Data}}</div>
        <div *ngIf="truncating && Data.length > limit">
            <p>{{Data | truncate : limit}}</p>
            <p class="showMore" (click)="truncating = false">show more</p>
            
        </div>
        <div *ngIf="!truncating && Data.length > limit">
            <p>  {{Data}} </p>
            <p class="showMore" (click)="truncating = true">show less</p>
        </div>
    </div>
</div>