.box {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 4%; 
    width: 95%;
    height: 86%; 
    position: relative;
    
  }
  p{
    color: white
}

.image{
    position: relative;
    top: -22px;
    left: -9%;
    width: 22%;

}

.image2{
    position: relative;
    top: -21px;
    left: -25%;
    width: 12%;

}

.shadow
{
    box-shadow: 5px 5px;
}

.showMore {
    color:steelblue;
}

