<div class="mh1">
    <div class="mv1">
        <img src="../../assets/Group0_1.png" width="100%" />
    </div>
    <div class="box">
        <h4>INDUSTRIES</h4>
        <mat-action-list>
            <button mat-button> <img src="../../assets/Group1_1.png " width="30px" class="pr1" /> BFSI</button><br />
            <button mat-button> <img src="../../assets/Group1_2.png " width="30px" class="pr1" />Telecom</button><br />
            <button mat-button> <img src="../../assets/Group1_3.png " width="30px" class="pr1" />Retail</button><br />
            <button mat-button> <img src="../../assets/Group1_4.png " width="30px" class="pr1" />Information
                Technology</button><br />
            <button mat-button> <img src="../../assets/Group1_5.png " width="30px" class="pr1" />Healthcare &
                Pharmaceuticals</button><br />
        </mat-action-list>
    </div>
    <div class="box mv1">
        <h4> BUSINESS FUNCTIONS</h4>
        <mat-action-list>
            <button mat-button> <img src="../../assets/Group1_6.png" width="30px"
                    class="pr1" />Operations</button><br />
            <button mat-button> <img src="../../assets/Group1_7.png" width="30px" class="pr1" />Marketing &
                Sales</button><br />
            <button mat-button> <img src="../../assets/Group1_8.png" width="30px" class="pr1" />Finance</button><br />
            <button mat-button> <img src="../../assets/Group1_9.png" width="30px" class="pr1" />Human
                Resources</button><br />
            <button mat-button> <img src="../../assets/Group1_10.png" width="30px" class="pr1" />Information
                technology</button><br />
            <button mat-button> <img src="../../assets/Group1_11.png" width="30px" class="pr1" />Supply
                Chain</button><br />
            <button mat-button> <img src="../../assets/Group1_12.png" width="30px" class="pr1" />Legal</button><br />
        </mat-action-list>
    </div>
</div>