p{
    color: white
}
/* button{
    color: white
} */

.box {
    border-radius: 25px;
    border: 2px solid #000000;
    /* padding: 20px;  */
    /* width: 80%;
    height: 80%;  */
  }
h4{
    text-align: center;
    color: yellow
}


.btn-default {
    color: white;
    background-color: rgb(75, 75, 75);
  }
  
  .btn-change {
    color: yellow;
  }

  .mb2{
      margin-bottom: 2rem;
  }