<mat-drawer-container class="bg">
    <mat-drawer mode="side" opened>
        <p>Side nav menue..................................</p>
    </mat-drawer>
    <mat-drawer-content>
        <div>
            <p>Home Image</p>
        </div>
        <div>
            <mat-grid-list cols="4" rowHeight="2:1">
                <mat-grid-tile >
                    <p class="box">
                        KYC digitization solution reliably extracts information
                        from scanned PoI documents, and also has the capability 
                        to match biometrics.
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p class="box">
                        EY's NLP enabled support automation (ENESA) is a configurable
                         solution for automated email classification, routing, and 
                         straight through processing of queries.
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p class="box">
                        EY’s customizable solution which can extract tabular information
                         efficiently from different document formats.
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p class="box">
                        EY’s vendor onboarding and helpdesk bot helps the vendors receive
                         quick support and immediate responses to their queries on Kaizala.
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p class="box">
                        KPI dashboarding solution provides employees with instant access
                         to their KPIs and dashboards on the Kaizala app.
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p class="box">
                        Using EY’s employee helpdesk solution, the employees get
                         immediate responses to their queries on Kaizala app.
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p class="box">
                        The customized alert bot helps to send instant alerts to 
                        the employee’s phone on Kaizala
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p class="box">
                        EY has developed a customized end-to-end automated solution to
                         process invoice and purchase order documents.
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p class="box">
                        EY’s contract digitization solutions extracts NER and required
                         clauses across unstructured contract documents
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p class="box">
                        EY’s employee satisfaction survey on Kaizala provides a single 
                        platform to roll out the survey, engage employees and receive their responses.
                    </p>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-drawer-content>
</mat-drawer-container>