<mat-drawer-container class="bg">
    <mat-drawer mode="side" opened>
        <div>
            <app-navbar (clickInfo)= "getClickInfo($event)" ></app-navbar>
        </div>
    </mat-drawer>
    <mat-drawer-content style="overflow: hidden;">
        <div>
            <app-header></app-header>
        </div>
        <!-- style="height: -webkit-fill-available;" -->
        <div  class="pl2">
            <div class="row pv3">
                <div class="col-md-3">
                    <app-box [Data]="KYC" [image]="images[0]" [title]="titles[0]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="ENESA" [image]="images[1]" [title]="titles[1]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="SSI_Extraction" [image]="images[3]" [title]="titles[2]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="VendorOn_Boarding" [image]="images[3]" [title]="titles[3]"> </app-box>
                </div>
            </div>

             <div class="row ">
                <div class="col-md-3">
                    <app-box [Data]="KPI_Dashboard" [image]="images[4]" [title]="titles[4]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="Employee_Helpdesk" [image]="images[5]" [title]="titles[5]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="Customized_Alert" [image]="images[6]" [title]="titles[6]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="Invoice" [image]="images[7]" [title]="titles[7]"> </app-box>
                </div>
            </div>

             <div class="row pv3">
                <div class="col-md-3">
                    <app-box [Data]="ContractDigitization" [image]="images[8]" [title]="titles[8]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="Survey" [image]="images[9]" [title]="titles[9]"> </app-box>
                </div>
            </div>
        </div>

        <button [routerLink] = "['/home']" style = "float:right;position:fixed;bottom:2%;right:2%;background-color: rgb(255,230,0);color:black;border:1px solid black" _ngcontent-vqc-c21="" mat-fab="" class="mat-fab mat-accent">
            <span style="color:black;font-size:22px"class="glyphicon glyphicon-home"></span>
            <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
        </button>
    </mat-drawer-content>

    
    
</mat-drawer-container>

