.bg{
    background-color: rgb(75, 75, 75);
}

/* .box {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px; 
    width: 86%;
    height: 86%; 
  } */

p{
    color: white
}
mat-grid-tile{
    padding: 2rem
}
