<mat-drawer-container class="bg">
    <mat-drawer mode="side" opened>
        <div>
            <app-navbar></app-navbar>
        </div>
    </mat-drawer>
    <mat-drawer-content style="overflow: hidden;">
        <div>
            <app-header></app-header>
        </div>
        <div style="height: -webkit-fill-available;" class="pl2">
            <div class="row pv2">
                <div class="col-md-3">
                    <app-box [Data]="KYC" [image]="images[0]" [title]="titles[0]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="KYC" [image]="images[1]" [title]="titles[1]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="KYC" [image]="images[3]" [title]="titles[2]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="KYC" [image]="images[3]" [title]="titles[3]"> </app-box>
                </div>
            </div>

             <div class="row">
                <div class="col-md-3">
                    <app-box [Data]="KYC" [image]="images[4]" [title]="titles[4]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="KYC" [image]="images[5]" [title]="titles[5]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="KYC" [image]="images[6]" [title]="titles[6]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="KYC" [image]="images[7]" [title]="titles[7]"> </app-box>
                </div>
            </div>

             <div class="row pv2">
                <div class="col-md-3">
                    <app-box [Data]="KYC" [image]="images[8]" [title]="titles[8]"> </app-box>
                </div>
                <div class="col-md-3">
                    <app-box [Data]="KYC" [image]="images[9]" [title]="titles[9]"> </app-box>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>