/* You can add global styles to this file, and also import other style files */
.pv1{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.ph1{
    padding-left: 1rem;
    padding-right: 1rem
}

.pr1{
    padding-right: 1rem
}

.mv1{
    margin-bottom: 1rem;
    margin-top: 1rem
}

.mh1{
    margin-left: 1rem;
    margin-right: 1rem
}

